@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/**
 * Import base style
 */
/**
 * Style with LESS.
 */
/** --------------------------------------------------------------
 * Reset. http://meyerweb.com/eric/tools/css/reset/ v2.0 | 20110126
 *
 */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100.01%;
    vertical-align: baseline;
}
body {
    line-height: 1;
    font-family: "Inter", sans-serif;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/** --------------------------------------------------------------
 * HTML5 elements.
 *
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
    display: block;
}
audio,
canvas,
video {
    display: inline-block;
    display: inline;
    zoom: 1;
}
audio:not([controls]) {
    display: none;
}
[hidden] {
    display: none;
}
/** --------------------------------------------------------------
 * The micro clearfix http://nicolasgallagher.com/micro-clearfix-hack/
 *
 */
.wrapper {
    zoom: 1;
}
.wrapper:before,
.wrapper:after {
    content: "";
    display: table;
}
.wrapper:after {
    clear: both;
}
/** --------------------------------------------------------------
 * Typography.
 *
 */
/* 16px - 100%/1.375 */
body {
    color: #222;
}
p {
    margin-bottom: 22px;
}
b,
strong {
    font-weight: bold;
}
i,
em {
    font-style: italic;
}
pre,
code {
    font: 1em/1.375 monospace;
}
/* headers */
h1 {
    font-size: 2.375em;
    line-height: 1.1579;
    margin-bottom: 22px;
}
/* Lists */
li ul,
li ol {
    margin: 0;
}
ul,
ol {
    margin: 0.6875em 1.5em 1.375em 0;
    padding-left: 1.5em;
}
ul {
    list-style-type: disc;
}
ol {
    list-style-type: decimal;
}
/* Tables. Because of the need for padding on TH and TD, the vertical rhythm
  on table cells has to be 33px, instead of the standard 22px or 44px
  of other elements. */
table {
    margin-bottom: 1.375em;
    width: 100%;
}
caption {
    text-align: left;
    font-style: italic;
}
thead {
    border-bottom: 2px solid #222;
}
th {
    vertical-align: bottom;
    font-weight: bold;
    text-align: left;
}
th,
td {
    padding: 5px 10px 5px 5px;
}
tbody tr {
    border-bottom: 1px solid #eee;
}
tbody tr:hover {
    color: #000;
}
tfoot {
    font-style: italic;
}
/** --------------------------------------------------------------
 * CSS3 mixins.
 *
 */
/** --------------------------------------------------------------
 * Colors.
 *
 */
.black {
    color: #000;
}
.blue {
    color: #049cdb;
}
.green {
    color: #46a546;
}
.red {
    color: #9d261d;
}
.yellow {
    color: #ffc40d;
}
.orange {
    color: #f89406;
}
/** --------------------------------------------------------------
 * Page layout.
 *
 */
body {
    max-width: 940px;
    margin: 8px auto;
    background: rgb(10, 10, 10);
}
/** --------------------------------------------------------------
 * Boxes.
 *
 */
#flash {
    margin: 2em auto;
    background-color: rgba(10, 10, 10, 0.95);
    border: 2px solid rgb(48, 48, 48);
    min-height: 10em;
    padding: 1em;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
}
/** --------------------------------------------------------------
 * Footer.
 *
 */
#footer {
    border-top: 1px solid #999;
    font-size: smaller;
    color: #999;
    margin-top: 22px;
    padding-top: 0.5em;
}
#footer a {
    color: #999;
    text-decoration: none;
}
#footer a:hover {
    color: #333333;
    text-decoration: underline;
}
/**
 * Here comes specific style for a certain test program.
 */
#flash {
    width: 768px;
    height: 768px;
}
#baddie1 {
    position: absolute;
}
.baddie {
    z-index: 10;
    width: 32px;
    height: 32px;
    background-image: url(img/sprite_mickey_mos_mini.png);
    background-repeat: no-repeat;
    -webkit-transition-property: left,top;
    -moz-transition-property: left,top;
    -ms-transition-property: left,top;
    -o-transition-property: left,top;
    transition-property: left,top;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -ms-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-timing-function: ease;
    -moz-transition-timing-function: ease;
    -ms-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    transition-timing-function: ease;
}
.baddie.up {background-position: -96px 0;}
.baddie.down {background-position: -64px 0;}
.baddie.left {background-position: -32px 0;}
.baddie.right {background-position: 0 0;}
/** --------------------------------------------------------------
 * Boulder Dash Gameplan
 *
 */
.tile, .t, .block, .b{width:32px;height:32px;float:left;background-repeat:no-repeat;}
.t12{background-image:url(img/tiles/floor/grass_0_old.png);}
.t13{background-image:url(img/tiles/floor/grass_1_old.png);}
.t14{background-image:url(img/tiles/floor/grass_2_old.png);}
.t15{background-image:url(img/tiles/floor/grass_flowers_red_3_old.png);}
.t16{background-image:url(img/tiles/floor/grass_flowers_blue_3_old.png);}
.t17{background-image:url(img/tiles/floor/grass_flowers_yellow_3_old.png);}
.t18{background-image:url(img/tiles/floor/grass_north_old.png);}
.t19{background-image:url(img/tiles/floor/grass_northwest_old.png);}
.t20{background-image:url(img/tiles/floor/grass_west_old.png);}
.t21{background-image:url(img/tiles/floor/grass_full_old.png);}
.t22{background-image:url(img/tiles/floor/grass_southwest_old.png);}
.t23{background-image:url(img/tiles/floor/grass_south_old.png);}

/* House floor */
.t24{background-image:url(img/tiles/floor/white_marble_3.png);}
.t25{background-image:url(img/tiles/passage/open_door.png), url(img/tiles/floor/white_marble_3.png);}
.t26{background-image:url(img/tiles/floor/bridge.png), url(img/tiles/water/shoals_shallow_water_2_new.png);}
.t27{background-image:url(img/tiles/water-effects/boulder.png), url(img/tiles/water/shoals_shallow_water_2_new.png);}

/* Graveyard floor */
.t28{background-image:url(img/tiles/floor/cobble_blood_8_new.png);}
.t29{background-image:url(img/tiles/floor/cobble_blood_9_new.png);}
.t30{background-image:url(img/tiles/floor/cobble_blood_10_new.png);}
.t31{background-image:url(img/tiles/floor/cobble_blood_11_new.png);}

/* water effects with cobble_blood*/
.t33{background-image:url(img/tiles/water/shallow_water_wave_north_new.png), url(img/tiles/floor/cobble_blood_8_new.png);}
.t34{background-image:url(img/tiles/water/shallow_water_wave_south_new.png), url(img/tiles/floor/cobble_blood_8_new.png);}
.t35{background-image:url(img/tiles/water/shallow_water_wave_east_new.png), url(img/tiles/floor/cobble_blood_8_new.png);}
.t36{background-image:url(img/tiles/water/shallow_water_wave_west_new.png), url(img/tiles/floor/cobble_blood_8_new.png);}
.t37{background-image:url(img/tiles/water/shallow_water_wave_corner_southeast_new.png), url(img/tiles/floor/cobble_blood_8_new.png);}
.t38{background-image:url(img/tiles/water/shallow_water_wave_corner_southwest_new.png), url(img/tiles/floor/cobble_blood_8_new.png);}

/* Water effects with grass */
.t39{background-image:url(img/tiles/water/shallow_water_wave_north_new.png), url(img/tiles/floor/grass_2_old.png);}
.t40{background-image:url(img/tiles/water/shallow_water_wave_south_new.png), url(img/tiles/floor/grass_2_old.png);}

/* Shadows - not working atm */
.t50{background-image:url(img/tiles/shadows/shadow_1.png), url(img/tiles/floor/cobble_blood_8_new.png);}

/* Temple floor */
.t60{background-image:url(img/tiles/floor/dirt_0_new.png);}

/* GAME BLOCKS - cannot go through */
.b11{background-image:url(img/tiles/wall/metal_wall.png);}
.b12{background-image:url(img/tiles/wall/crystal_wall02.png);}
.b13{background-image:url(img/tiles/wall/mirrored_wall_old.png);}
.b14{background-image:url(img/tiles/wall/green_crystal_wall.png);background-color:green;}
.b18{background-image:url(img/tiles/passage/closed_door.png);}
.b19{background-image:url(img/tiles/wall/brick_brown-vines_1.png);}

/* House walls */
.b20{background-image:url(img/tiles/wall/brick_gray_0.png);}
.b21{background-image:url(img/tiles/wall/brick_gray_1.png);}
.b22{background-image:url(img/tiles/wall/brick_gray_2.png);}
.b23{background-image:url(img/tiles/wall/brick_gray_3.png);}

/* Chest house*/
.b24{background-image:url(img/tiles/chests/chest_2_closed.png), url(img/tiles/floor/white_marble_3.png);}
.b25{background-image:url(img/tiles/chests/chest_2_open.png), url(img/tiles/floor/white_marble_3.png);}

/* Trees green mangrove - others further down to easier access by numbers*/
.b26{background-image:url(img/tiles/trees/mangrove_2.png), url(img/tiles/floor/grass_0_old.png);}
.b27{background-image:url(img/tiles/trees/mangrove_3.png), url(img/tiles/floor/grass_0_old.png);}

/* Water */
.b28{background-image:url(img/tiles/water/shoals_shallow_water_2_new.png);}
.b29{background-image:url(img/tiles/water/shoals_shallow_water_8_new.png);}


/* Graveyard */
.b30{background-image:url(img/tiles/graveyard/catacombs_0.png);}
.b31{background-image:url(img/tiles/graveyard/catacombs_1.png);}
.b32{background-image:url(img/tiles/graveyard/catacombs_2.png);}
.b33{background-image:url(img/tiles/graveyard/catacombs_3.png);}
.b34{background-image:url(img/tiles/graveyard/catacombs_4.png);}
.b35{background-image:url(img/tiles/graveyard/catacombs_5.png);}
.b36{background-image:url(img/tiles/graveyard/catacombs_6.png);}
.b37{background-image:url(img/tiles/graveyard/catacombs_7.png);}
.b38{background-image:url(img/tiles/graveyard/catacombs_8.png);}
.b39{background-image:url(img/tiles/graveyard/catacombs_9.png);}
.b40{background-image:url(img/tiles/graveyard/catacombs_10.png);}
.b41{background-image:url(img/tiles/graveyard/altar_new.png), url(img/tiles/floor/cobble_blood_8_new.png);}
.b42{background-image:url(img/tiles/graveyard/altar_okawaru.png), url(img/tiles/floor/cobble_blood_8_new.png);}
.b43{background-image:url(img/tiles/graveyard/altar_old.png), url(img/tiles/floor/cobble_blood_8_new.png);}
.b44{background-image:url(img/tiles/graveyard/crumbled_column_3.png), url(img/tiles/floor/cobble_blood_8_new.png);}
.b45{background-image:url(img/tiles/graveyard/crumbled_column_4.png), url(img/tiles/floor/cobble_blood_8_new.png);}
.b46{background-image:url(img/tiles/graveyard/crumbled_column_5.png), url(img/tiles/floor/cobble_blood_8_new.png);}
.b47{background-image:url(img/tiles/graveyard/crumbled_column_6.png), url(img/tiles/floor/cobble_blood_8_new.png);}
.b48{background-image:url(img/tiles/graveyard/statue_cat.png), url(img/tiles/floor/cobble_blood_8_new.png);}
.b49{background-image:url(img/tiles/graveyard/altar_okawaru.png), url(img/tiles/floor/cobble_blood_8_new.png);}
.b50{background-image:url(img/tiles/graveyard/altar_old.png), url(img/tiles/floor/cobble_blood_8_new.png);}

/* Trees other colors */
.b60{background-image:url(img/tiles/trees/tree_1_lightred.png), url(img/tiles/floor/grass_0_old.png);}
.b61{background-image:url(img/tiles/trees/tree_1_red.png), url(img/tiles/floor/grass_0_old.png);}
.b62{background-image:url(img/tiles/trees/cactus1.png), url(img/tiles/floor/grass_full_old.png);}
.b63{background-image:url(img/tiles/trees/cactus2.png), url(img/tiles/floor/grass_full_old.png);}

/* Misc items */
.b70{background-image:url(img/tiles/items/large_box.png), url(img/tiles/floor/white_marble_3.png);}
.b71{background-image:url(img/tiles/items/torch_1.png), url(img/tiles/wall/brick_gray_2.png);}
.b72{background-image:url(img/tiles/items/torch_3.png), url(img/tiles/wall/brick_gray_2.png);}
.b73{background-image:url(img/tiles/items/blood_fountain.png), url(img/tiles/floor/cobble_blood_8_new.png);}
.b74{background-image:url(img/tiles/items/statue_iron_golem.png), url(img/tiles/floor/grass0-dirt-mix_1.png);}
.b75{background-image:url(img/tiles/items/misc_fan_inert.png), url(img/tiles/floor/dirt_0_new.png);}


/* Food */
.b80{background-image:url(img/food/orange.png), url(img/tiles/floor/grass_0_old.png);}

/* Chest forest*/
.b88{background-image:url(img/tiles/chests/chest_2_closed.png), url(img/tiles/floor/grass_0_old.png);}
.b89{background-image:url(img/tiles/chests/chest_2_open.png), url(img/tiles/floor/grass_0_old.png);}

/* Monster */
.b90{background-image:url(img/monsters/stone_giant_new.png), url(img/tiles/floor/grass_0_old.png);}
.b91{background-image:url(img/monsters/skeletal_warrior_new.png), url(img/tiles/floor/cobble_blood_8_new.png);}
.b92{background-image:url(img/monsters/elyvilon_top.png), url(img/tiles/floor/grass_0_old.png);}

/* GATE */
.b95{background-image:url(img/tiles/passage/vgate_runed_down.png);}
.b96{background-image:url(img/tiles/passage/vgate_runed_up.png);}
.b97{background-image:url(img/tiles/passage/vgate_open_down.png);}
.b98{background-image:url(img/tiles/passage/vgate_open_up.png);}

@keyframes flipBg {
    0%   { transform: scaleX(1); }
    50%  { transform: scaleX(-1); }
}

.player-stats {
    display: flex;
    gap: 1rem;
    width: 768px;
    margin: 2em auto;
    justify-content: space-evenly;
    padding: 1em;
    background: rgba(10, 10, 10, 0.95);
    border: 2px solid rgb(48, 48, 48);
    border-radius: 12px;
    color: #eee;
}

.health-container {
    display: flex;
    align-items: center;
    gap: 12px;
    width: max-content;
}

.health-label {
    font-weight: bold;
    color: #ff4444;
    width: 32px;
}

.health-bar-bg {
    width: 400px;
    height: 18px;
    background: #222;
    border: 2px solid #444;
    border-radius: 9px;
    overflow: hidden;
}

.health-bar {
    height: 100%;
    background: linear-gradient(90deg, #ff4444, #00ff37);
    transition: width 0.3s ease, background 0.6s ease;
    border-radius: 6px;
}

.health-value {
    font-size: 0.9rem;
    font-weight: bold;
    min-width: 60px;
    text-align: right;
    color: greenyellow;
}

.superpower-container {
    display: flex;
    align-items: center;
    width: max-content;
    gap: 10px;
}

.super-icon {
    width: 42px;
    height: 42px;
    background: #1a1a2e;
    border: 3px solid #444;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    transition: all 0.4s ease;
}

.super-icon.active {
    border-color: #ffd700;
    box-shadow: 0 0 20px rgba(255, 215, 0, 0.7);
    transform: scale(1.15);
}

.super-label {
    font-size: 0.9em;
    color: #aaa;
}

.superpower-container.active .super-label {
    color: #ffdd00;
    font-weight: bold;
}

/* Notifications */

.notification-container {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    gap: 12px;
    max-width: 500px;
    pointer-events: none;
}

.notification {
    background: rgba(18, 18, 18, 0.95);
    border: 2px solid rgb(48, 48, 48);
    border-radius: 10px;
    padding: 14px 18px;
    color: #e0e0e0;
    font-size: 0.95rem;
    line-height: 1.4;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    opacity: 0;
    transform: translateX(30px);
    transition: all 0.4s ease-out;
    pointer-events: auto;
}

.notification.show {
    opacity: 1;
    transform: translateX(0);
}

.notification.success {
    border-left: 4px solid #4caf50;
}

.notification.error {
    border-left: 4px solid #f44336;
}

.notification.warning {
    border-left: 4px solid #ff9800;
}

.notification.info {
    border-left: 4px solid #2196f3;
}

.notification .title {
    font-weight: 600;
    margin-bottom: 6px;
    color: #ffffff;
}

.notification .message {
    color: #d0d0d0;
}

.info-container {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.dimension-info {
    max-width: 500px;
    pointer-events: none;
    background-color: rgb(10, 10, 10);
    border: 2px solid rgb(48, 48, 48);
    border-radius: 10px;
    padding: 14px 18px;
    color: #e0e0e0;
    font-size: 0.95rem;
    line-height: 1.4;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
}

.buttons-info {
    display: flex;
    flex-direction: column;
    width: max-content;
    pointer-events: none;
    background-color: rgb(10, 10, 10);
    border: 2px solid rgb(48, 48, 48);
    border-radius: 10px;
    padding: 14px 18px;
    color: #e0e0e0;
    font-size: 0.95rem;
    line-height: 1.4;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    gap: 10px;
}

.button-item {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
}

.button-item .button {
    text-align: center;
    background-color: rgba(28, 28, 28, 0.95);
    border-radius: 10px;
    border: 1px solid rgb(48, 48, 48);
    padding: 7px 14px;
    font-weight: 600;
}